[submodule "socket.io"]
	path = socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "socket.io-client"]
	path = socket.io-client
	url = https://github.com/LearnBoost/socket.io-client.git
